body{
    color: #333; 
    text-align: center;
    font-family: "courier new";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#container{
    width:  70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
    margin:  0 auto;
}

#container h1{
    font-size: 30px;
}
#container h2{
    font-size: 25px;
}
#container h3{
    color: palevioletred;
    text-align: right;
    font-size: 10px;
    border: 2px solid pink;
    margin: 0 auto;
    padding: 1em;
}
